@model Portfolio.ViewModels.TeamsGeneratorVM

@{
    ViewData["Title"] = "Generated Teams";
}

<div class="flex items-center">
    <h1 class="text-center flex-1 font-medium text-3xl text-blue-800 dark:text-blue-200">Generated Teams</h1>
</div>

<div class="grid grid-cols-4 justify-between mt-20">

    @for (int i = 0; i < Model.NumTeams; i++)
    {
        <div style="background-color: @Model.ColorsAvailable[i % Model.ColorsAvailable.Length];" class="max-w-[200px] ml-5 p-5 mb-10">
        <p class="font-bold text-xl">Team @(i + 1)</p>

            @for (int j = 0; j < Model.NumPerTeam; j++)
            {
                if (Model.NumPerTeam * i + j == Model.Names.Count)
                    break;

                <p class="text-lg">@Model.Names[Model.NumPerTeam * i + j]</p>
            }
            
        </div>
    }

</div>