@model Portfolio.ViewModels.CongaLineVM

@{
    ViewData["Title"] = "Conga Line";
}

<div class="text-center">
    <h1 class="font-medium text-3xl text-blue-800 dark:text-blue-200">Conga Line</h1>
</div>

<div class="text-center mt-20">
    <h3 class="font-medium text-xl text-blue-800 dark:text-blue-200">Current Conga Line: </h3>
    
</div>

<div class="flex items-center justify-center mt-5">
    <div class="w-1/2 bg-slate-300 dark:bg-slate-700">
        <p class="font-medium text-blue-800 dark:text-blue-200 py-5 text-center">
            @Model.CongaLine.ToString()
        </p>
    </div>
</div>

<form asp-controller="CongaLine" asp-action="Index" method="post">
    <input type="hidden" name="congaLineString" value="@Model.CongaLine.ToString()" />
    <select name="action">
        <option value="">Select An Action</option>
        <option value="engine">Engine</option>
        <option value="caboose">Caboose</option>
        <option value="jump">Jump In The Line</option>
        <option value="out">Everyone Out</option>
        <option value="done">You're Done</option>
        <option value="brains">Brains</option>
        <option value="rainbow">Rainbow Brains</option>
    </select>
    <select name="zombie">
        <option value="">Select a Zombie</option>
        <option value="B">Blue</option>
        <option value="C">Cyan</option>
        <option value="G">Green</option>
        <option value="M">Magenta</option>
        <option value="R">Red</option>
        <option value="Y">Yellow</option>
    </select>
    <input type="number" min="1" max="@Model.CongaLine.CongaLineLength()" name="index" />
    <input type="submit" value="SUBMIT" />
</form>