@model Portfolio.Models.CampMadLib

@{
    ViewData["Title"] = "Camping Mad Lib Input";
}

<div class="flex justify-between px-5">
    <input class="bg-blue-100 dark:bg-blue-900 text-sm font-serif font-bold text-blue-800 dark:text-blue-200 rounded-md p-1.5 hover:bg-yellow-200 dark:hover:bg-yellow-800" id="CampDefault" type="button" value="DEFAULT" />
    <input class="bg-blue-100 dark:bg-blue-900 text-sm font-serif font-bold text-blue-800 dark:text-blue-200 rounded-md p-1.5 hover:bg-yellow-200 dark:hover:bg-yellow-800" id="CampClear" type="button" value="CLEAR" />
</div>

<div class="flex items-center mt-5">
    <h1 class="text-center flex-1 font-medium text-3xl text-blue-800 dark:text-blue-200">Camping Mad Lib Input</h1>
</div>

<form asp-action="Camping" method="post" class="justify-center grid mt-24">
    <div asp-validation-summary="All" class="text-red-800 text-sm -mt-20 block"></div>
    <div class="justify-between block">
        <div class="pb-2">
            <input placeholder="Name" asp-for="Name1" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2">
            <input placeholder="Camp Name" asp-for="CampName1" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2">
            <input placeholder="Adjective" asp-for="Adjective1" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2">
            <input placeholder="Activity" asp-for="Activity1" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2">
            <input placeholder="Activity" asp-for="Activity2" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2">
            <input placeholder="Plural Noun" asp-for="PluralNoun1" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2">
            <input placeholder="Adjective" asp-for="Adjective2" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2">
            <input placeholder="Noun" asp-for="Noun1" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2">
            <input placeholder="Nick Name" asp-for="NickName1" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2 ml-16">
            <input type="submit" class="bg-blue-100 dark:bg-blue-900 text-sm font-serif font-bold text-blue-800 dark:text-blue-200 rounded-md p-1.5 hover:bg-yellow-200 dark:hover:bg-yellow-800" value="Generate Story" />
        </div>
    </div>
</form>

@section Scripts
{
    <script src="~/js/campInput.js"></script>
}