@{
    ViewData["Title"] = "Road Trip Mad Lib Input";
}

<div class="flex items-center">
    <h1 class="text-center flex-1 font-medium text-3xl text-blue-800 dark:text-blue-200 ml-40">Road Trip Mad Lib Input</h1>
</div>