@{
    ViewData["Title"] = "Projects";
}

<div class="text-center">
    <h1 class="font-medium text-3xl text-blue-800 dark:text-blue-200">Team Projects</h1>
</div>

<div class="text-center">
    <h5 class="mt-10 text-2xl font-bold tracking-tight text-red-700">Site is still being developed</h5>
</div>

<div class="justify-center flex mt-10">
    <div class="grid grid-cols-2 px-5 gap-10 sm:gap-20 md:gap-32 lg:gap-60">
        <div class="max-w-screen-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center pt-2">
                <img class="rounded-t-lg justify-center" src="https://play-lh.googleusercontent.com/3iD4yg-Zhr7KRAWbsuEV_g1vu31XycOHaKFfb93qgTKGwLXh8p2vlryKmHug4QR1FA" alt="Oregon Turtles Logo" width="150" height="150" />
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-blue-200">Oregon Turtles</h5>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    The Oregon Turtles App and web reporting tool was developed by Western Oregon University in collaboration 
                    with the Oregon Department of Fish & Wildlife and the City of Salem, with support from the Oregon Conservation and Recreation Fund. 
                    (oregonturtles.org, 2023)
                </p>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    I was apart of the Oregon Turtle team from 2021-2022 my Junior year at Western Oregon University 
                    and 2022-2023 my Senior year at Western Oregon University.
                </p>
                <a href="https://oregonturtles.org" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    VIEW
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <div class="max-w-screen-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center pt-2">
                <img class="rounded-t-lg" src="https://em-content.zobj.net/thumbs/160/microsoft/319/popcorn_1f37f.png" alt="Picture of Popcorn" width="150" height="150" />
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-blue-200">Watch Party</h5>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    This is a social media platform developed as apart of my Senior Capstone Project at Western Oregon University.
                    Watch Party is a social media platform designed for anyone and everyone who wants to share their love of TV 
                    movies with their friends. With the help of the Teleparty extension we were able to create a centralized hub 
                    for users to be able to watch shows and movies with their friends synchronously. Also thanks to the TMDB API 
                    users are also able to discover new shows and movies to add to their personal watch lists.
                </p>
                <a href="https://watchparty2023.azurewebsites.net" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    VIEW
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="text-center mt-10">
    <h1 class="font-medium text-3xl text-blue-800 dark:text-blue-200">Individual Projects</h1>
</div>

<div class="justify-center flex mt-10">
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 grid-rows-3 sm:grid-rows-3 md:grid-rows-2 lg:grid-rows-2 px-5 gap-10 sm:gap-20 md:gap-32 lg:gap-60">
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center pt-2">
                <img class="rounded-t-lg" src="https://em-content.zobj.net/thumbs/160/microsoft/319/triangular-ruler_1f4d0.png" alt="Image of Triangle Ruler" width="150" height="150" />
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-blue-200">Pythagorean Theorem Calculator</h5>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    Project developed by myself originally using C++ during my time at Chemeketa Community College during 2017 when 
                    I was a Freshmen attending the school. However I do not have the original code anymore for that project so I 
                    redeveloped the project again using what I know now but using C# instead of C++.
                </p>
                <a asp-controller="Pythagorean" asp-action="Index" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    VIEW
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center pt-2">
                <img class="rounded-t-lg" src="https://em-content.zobj.net/thumbs/160/microsoft/319/video-game_1f3ae.png" alt="Image of Controller" width="150" height="150" />
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-blue-200">Conga Line Lab</h5>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    Lab developed when I was taking Data Structures during my Sophomore/Junior year at Western Oregon University, Fall of 2020. 
                    The code that is on this site is not the original code that was written by myself during 2020 but an updated version and using 
                    C# instead of Python.
                </p>
                <a asp-controller="CongaLine" asp-action="Index" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    VIEW
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center pt-2">
                <img class="rounded-t-lg" src="https://em-content.zobj.net/thumbs/160/microsoft/319/artist-palette_1f3a8.png" alt="Image of Color Palette" width="150" height="150" />
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-blue-200">Color Interpolator</h5>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    Lab developed that was developed during my Junior year as a part of a course to prepare us for 
                    our Software Engineering class that we took during our senior year that involved us interpolating 
                    between two colors and this still uses C# like the original code.
                </p>
                <a asp-controller="ColorInterpolator" asp-action="Index" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    VIEW
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center pt-2">
                <img class="rounded-t-lg" src="https://em-content.zobj.net/thumbs/160/microsoft/319/memo_1f4dd.png" alt="Image of Memo" width="150" height="150" />
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-blue-200">Mad Lib's Generator</h5>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    Mad Libs project that was a final project during my Junior year at Western Oregon University, Winter of 2022.
                    The code that is on this site is not the original code that was written by myself during 2022 but an updated version, however 
                    this still uses C# like the original code did as well.
                </p>
                <a asp-controller="MadLibs" asp-action="Index" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    VIEW
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center pt-2">
                <img class="rounded-t-lg" src="https://em-content.zobj.net/thumbs/160/microsoft/319/game-die_1f3b2.png" alt="Image of Dice" width="150" height="150" />
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-blue-200">Random Team Generator</h5>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    Random team generator project created when I was taking Software Engineering 1 during my Senior year at Western Oregon University, Fall of 2022. 
                    The code that is on this site is not the original code that was written byself during 2022 but an updated version, however 
                    this still uses C# like the original code did as well.
                </p>
                <a asp-controller="TeamGenerator" asp-action="Index" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    VIEW
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center pt-2">
                <img class="rounded-t-lg" src="https://em-content.zobj.net/thumbs/160/microsoft/319/books_1f4da.png" alt="Image of Books" width="150" height="150" />
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-blue-200">GitHub Repos Viewer</h5>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    This project involved using GitHub's API to generate information about a user's GitHub account. This project was my first time using an API and learning 
                    to follow best practices when using an external source. This was built when I was taking Software Engineering 1 during my Senior year at Western Oregon 
                    University, Fall of 2022.
                </p>
                <a asp-controller="GitHub" asp-action="Index" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    VIEW
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
    </div>
</div>