@{
    ViewData["Title"] = "Resume";
}

<div class="justify-center flex mt-10 px-5">
    <iframe src="https://docs.google.com/viewer?url=https://docs.google.com/document/d/1-iNigy3bdJbL6x-lUPOlVMKNsDnT4h98FLFI4DiUYek/export?format=pdf&embedded=true" width="800px" height="700px" frameborder="0"></iframe>
</div>