@{
    ViewData["Title"] = "Resume";
}

<div class="justify-end flex mt-10 px-5">
    <input type="submit" class="bg-blue-800 dark:bg-blue-200 font-bold text-lg rounded text-blue-200 dark:text-blue-800 px-7" value="Download" />
</div>

<div class="justify-center flex mt-10 px-5">
    <iframe src="https://docs.google.com/viewer?url=https://docs.google.com/document/d/1-iNigy3bdJbL6x-lUPOlVMKNsDnT4h98FLFI4DiUYek/export?format=pdf&embedded=true" width="800px" height="700px" frameborder="0"></iframe>
</div>