@model Portfolio.ViewModels.ColorInterpolationVM

@{
    ViewData["Title"] = "Color Interpolation";
}

<div class="text-center">
    <h1 class="font-medium text-3xl text-blue-800 dark:text-blue-200">Color Interpolation</h1>
</div>

<form asp-action="ColorInterpolation" method="post" class="justify-center grid mt-32">
    <div asp-validation-summary="All" class="text-red-800 text-sm -mt-20 block"></div>
    <div class="justify-between block">
        <div class="pb-2">
            <input placeholder="#FFFFFF" asp-for="ColorInterpolation.FirstColor" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2">
            <input placeholder="#000000" asp-for="ColorInterpolation.SecondColor" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="text" />
        </div>
        <div class="pb-2">
            <input placeholder="10" asp-for="ColorInterpolation.NumColors" class="bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="number" />
        </div>
        <div class="pb-2 ml-32">
            <input type="submit" class="bg-blue-100 dark:bg-blue-900 text-sm font-serif font-bold text-blue-800 dark:text-blue-200 rounded-md p-1.5 hover:bg-yellow-200 dark:hover:bg-yellow-800" value="Display" />
        </div>
    </div>
    @if (Model.ListColors.Any())
    {
        <div class="ml-5 mt-12 sm:ml-80 sm:-mt-44">
            @foreach (string hexValue in Model.ListColors)
            {
                <div class="w-32 h-32 ml-4 border-black border-solid border-2" style="background-color: #@hexValue;">
                    <p class="text-blue-800 dark:text-blue-200 text-sm ml-36 pt-14">#@hexValue</p>
                </div>
            }
        </div>
    }
</form>