@{
    ViewData["Title"] = "Color";
}

<div class="flex items-center justify-between">
    <h1 class="text-center flex-1 font-medium text-3xl text-blue-800 dark:text-blue-200 ml-40">Color Generation Project</h1>
    <a href="https://github.com/CS-Morgan/w22---cs366-mondoyanez/tree/main/6_HW4/HW4Solution/HW4Solution/HW4Project">
        <button class="mx-5 bg-blue-100 dark:bg-blue-900 text-sm font-serif font-bold text-blue-800 dark:text-blue-200 rounded-md p-1.5 hover:bg-yellow-200 dark:hover:bg-yellow-800" type="button">Original Repo</button>
    </a>
</div>

<div class="justify-center flex mt-24">
    <div class="grid grid-cols-2 px-5 gap-10 sm:gap-20 md:gap-32 lg:gap-60">
        <div class="max-w-screen-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center pt-2">
                <img class="rounded-t-lg" src="https://em-content.zobj.net/thumbs/160/microsoft/319/artist-palette_1f3a8.png" alt="Image of Color Palette" width="150" height="150" />
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-blue-200">RGB Color</h5>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    Want to know what a particular RGB color looks ? How about it's web color format? 
                    Here you go. Uses query strings to send form data to the server, which reads them
                    in the Request object. It then performs the calculation and formats the result 
                    in a view to return to you.
                </p>
                <a asp-controller="Color" asp-action="RGBColor" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Try it out
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
        <div class="max-w-screen-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="flex justify-center pt-2">
                <img class="rounded-t-lg" src="https://em-content.zobj.net/thumbs/160/microsoft/319/paintbrush_1f58c-fe0f.png" alt="Picture of Paintbrush" width="150" height="150" />
            </div>
            <div class="p-5">
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-blue-800 dark:text-blue-200">Color Interpolation</h5>
                <p class="mb-3 font-normal text-blue-800 dark:text-blue-200">
                    Typical online color choosers are way too useful. We wanted something fun and completely useless.
                    This form POST's the data to the server and uses parameter binding to make it easy.
                </p>
                <a asp-controller="Color" asp-action="ColorInterpolation" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Check it out
                    <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </a>
            </div>
        </div>
    </div>
</div>