@model Portfolio.Models.Color

@{
    ViewData["Title"] = "RGB Color";
}

<div class="text-center">
    <h1 class="font-medium text-3xl text-blue-800 dark:text-blue-200">RGB Color</h1>
</div>

<form asp-action="RGBColor" method="get" class="justify-center flex mt-44">
    <div class="justify-between block">
        <div class="pb-2">
            <label class="text-blue-800 dark:text-blue-200" for="red">R</label>
            <input value="@Model.red" class="ml-2 bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="number" id="red" name="red" min="0" max="255" />
        </div>
        <div class="pb-2">
            <label class="text-blue-800 dark:text-blue-200" for="green">G</label>
            <input value="@Model.green" class="ml-2 bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="number" id="green" name="green" min="0" max="255" />
        </div>
        <div class="pb-2">
            <label class="text-blue-800 dark:text-blue-200" for="blue">B</label>
            <input value="@Model.blue" class="ml-2 bg-gray-50 border border-gray-300 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 p-1.5 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500 text-blue-800 dark:text-blue-200" type="number" id="blue" name="blue" min="0" max="255" />
        </div>
        <div class="pb-2 ml-36">
            <input type="submit" class="bg-blue-100 dark:bg-blue-900 text-sm font-serif font-bold text-blue-800 dark:text-blue-200 rounded-md p-1.5 hover:bg-yellow-200 dark:hover:bg-yellow-800" value="Display" />
        </div>
    </div>
    <div class="ml-10">
        <div class="w-40 h-44 pt-4 bg-slate-200 dark:bg-slate-800">
            <div class="w-32 h-32 ml-4" style="background-color: #@Model.RGBToHex();"></div>
            <p class="text-blue-800 dark:text-blue-200 text-sm ml-12 mt-2">#@Model.RGBToHex()</p>
        </div>
    </div>
</form>