@{
    ViewData["Title"] = "GitHub Viewer";
}

<div class="flex items-end justify-end">
    <a href="https://github.com/mondoyanez/WesternOregonProjects/tree/main/GitHubReposTable/HW3/HW3">
        <button class="mx-5 bg-blue-100 dark:bg-blue-900 text-sm font-serif font-bold text-blue-800 dark:text-blue-200 rounded-md p-1.5 hover:bg-yellow-200 dark:hover:bg-yellow-800" type="button">Original Repo</button>
    </a>
</div>

<div id="github-user-content" class="flex justify-center pb-[50px] m-3">
    <div>
        <img src="" id="github-user-image" class="w-[216px] h-[216px]" alt="GitHub Avatar"/>
    </div>
    <div id="github-user-info" class="bg-teal-300 dark:bg-teal-600 sm:w-1/2 w-[300px]">
        <h1 id="name-header" class="text-yellow-800 dark:text-yellow-300 font-medium text-3xl mx-3"></h1>
        <p id="github-username" class="text-blue-800 dark:text-blue-200 m-3"></p>
        <p id="github-email" class="text-blue-800 dark:text-blue-200 m-3"></p>
        <p id="github-company" class="text-blue-800 dark:text-blue-200 m-3"></p>
        <p id="github-location" class="text-blue-800 dark:text-blue-200 m-3"></p>
    </div>
</div>

<div class="flex md:ml-[375px] mx-3">
    <div>
        <h2 class="font-medium text-2xl text-blue-800 dark:text-blue-200 my-2">Repositories</h2>
        <table id="repository-names" style="display: none;"></table>
    </div>
    <div>
        <div class="ml-[238px] bg-green-400 dark:bg-green-800 text-blue-800 dark:text-blue-200 pb-10" id="repository-container" style="display: none;">
            <div id="repository-info">
                <h4 class="text-2xl font-bold text-blue-800 dark:text-blue-200 pb-24 pl-1.5" style="display: none;" id="repository-header-name"></h4>
                <img class="w-[216px] h-[216px] ml-[400px] mt-[-90px]" src="" id="github-repo-image" alt="Repo Image" style="display: none;"/>
            </div>
        </div>
        <h2 class="mt-10 ml-[238px] font-bold text-2xl text-blue-800 dark:text-blue-200" style="display: none;" id="commits-header">Commits</h2>
        <table id="commits-info" style="display: none;"></table>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/js/githubApi.js"></script>
}