@{
    ViewData["Title"] = "GitHub Info";
}

<div class="flex items-center justify-between">
    <h1 class="text-center flex-1 font-medium text-3xl text-blue-800 dark:text-blue-200">GitHub Info</h1>
    <a href="https://github.com/mondoyanez/WesternOregonProjects/tree/main/GitHubReposTable/HW3/HW3">
        <input class="mx-5 bg-blue-100 dark:bg-blue-900 text-sm font-serif font-bold text-blue-800 dark:text-blue-200 rounded-md p-1.5 hover:bg-yellow-200 dark:hover:bg-yellow-800" value="Original Repo" type="button" />
    </a>
</div>