@{
    ViewData["Title"] = "Pythagorean Theorem Calculator";
}

<div class="text-center">
    <h1 class="font-medium text-3xl text-blue-800 dark:text-blue-200">Pythagorean Theorem Calculator</h1>
</div>

<div class="flex justify-center mt-20">
    <div class="relative">
        <img src="https://em-content.zobj.net/thumbs/160/microsoft/319/triangular-ruler_1f4d0.png" alt="Triangle"/>
        <div class="absolute">
            <p class="text-lg text-blue-800 dark:text-blue-200 -mt-24 -ml-14">Side A</p>
            <p class="text-lg text-blue-800 dark:text-blue-200 mt-16 ml-12">Side B</p>
            <p class="text-lg text-blue-800 dark:text-blue-200 -mt-36 ml-24">Hypontenuse</p>
        </div>
    </div>
</div>