@{
    ViewData["Title"] = "Pythagorean Theorem Calculator";
}

<div class="text-center">
    <h1 class="font-medium text-3xl text-blue-800 dark:text-blue-200">Pythagorean Theorem Calculator</h1>
</div>